body {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin: 0; 
    background-color: #f0f0f0; 
}


.container {
    text-align: center; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}


.back-button {
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 100px;
    margin: 10px auto 0;
    border-radius: 30px;
}


.back-button:hover {
    background-color: #e04553;
}


.back-button a {
    text-decoration: none;
    color: white;
}
